#Container
{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
#profileContainer
{
  width: 35%;
  border: 1px solid black;
  height: 800px;
  text-align: center;
}
#profileContainer > img
{
  width: 80%;
}
#moreDetailsContainer
{
  display: none;
}
#todoListContainer
{
  width: 64%;
  border: 1px solid black;
  height: 800px;
}
